.accordion {
  width: 100%;
  max-width: 645px;
  border: 1px solid $color-gray-30;
  border-bottom: none;
  border-radius: 2px;
  margin-bottom: 30px;
}

.accordion__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.accordion__item_open {

  & .accordion__link {

    &:before {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  & .accordion__content {
    display: block;
  }
}

.accordion__link {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  line-height: 48px;
  border-bottom: 1px solid $color-gray-30;
  padding: 0 20px 0 30px;
  background-color: $color-gray-10;
  text-decoration: none;
  color: $color-gray-70;
  cursor: pointer;
  transition: all .15s;
  will-change: background-color;

  &:hover:before {
    border-color: $color-red-50;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(-135deg);
    width: 6px;
    height: 6px;
    border-left: 1px solid $color-gray-50;
    border-bottom: 1px solid $color-gray-50;
    background: transparent;
    will-change: transform;
    transition: all .15s;
  }
}

.accordion__content {
  @extend .text-content;
  display: none;
  padding: 20px 30px 10px;
  border-bottom: 1px solid $color-gray-30;
  background-color: #fff;
  will-change: height;
}

.accordion__text {
  @extend .nowrap;
}

.accordion__price {
  max-width: 500px;
  text-align: right;
  padding-left: 20px;
  float: right;
  white-space: nowrap;
}

.accordion-table-wrapper {
  padding: 0;
}

.accordion-table {
  width: 100%;
  padding: 10px 0;

  tr:hover {
    td:not(.accordion-table_unavailable),
    td:not(.accordion-table_disabled) {
      background-color: #fff5f5;
    }
  }

  td:first-child {
    border-right: 1px solid $color-gray-30;
    width: 80%;
    max-width: 500px;
    padding: 3px 30px;
  }

  td:last-child {
    width: 20%;
    min-width: 120px;
    max-width: 145px;
    text-align: center;
    vertical-align: middle;
  }
}

.accordion-table_highlighted {
  background-color: #fff5f5;

  &:hover {
    background-color: #fff5f5;
  }
}

.accordion-table_disabled {
  background-color: $color-gray-10;

  &:hover {
    background-color: $color-gray-10;
  }

}.accordion-table_unavailable {
  color: $color-gray-50;

   &:hover {
     background-color: #fff;
   }
}

@media (max-width: 640px) {
  .accordion-table {

    td:first-child {
      width: 80%;
      max-width: 500px;
      padding: 5px 10px;
    }

    td:last-child {
      width: 20%;
      min-width: 100px;
      max-width: 145px;
      text-align: center;
      vertical-align: middle;
    }
  }
}