.footer {
  display: flex;
  justify-content: center;
  min-height: 120px;
  background-color: $color-gray-70;
}

.footer__inner {
  @extend .layout-inner;
  @extend .layout-padding;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $color-gray-20;
}

.footer__search {
  margin-right: 120px;
}

.footer__dev {
  color: $color-gray-50;
}

.footer__logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

.footer__copyright {
  margin-left: auto;
  margin-right: 40px;
  color: $color-gray-50;
}

.footer__logo {
  margin-right: 50px;
  max-height: 60px;

  &:last-child {
    margin-right: 0;
  }
}


@media (max-width: 640px) {

  .footer__inner {
    flex-wrap: wrap;
    padding: 30px 20px;
  }

  .footer__copyright {
    order: 1;
    margin-right: auto;
    margin-left: 0;
  }

  .footer__dev {
    order: 2;
    margin-left: auto;
  }

  .footer__search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .footer__logos {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
  }

  .footer__logo {
    max-height: 40px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}