.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 20px;

  span {
    cursor: default;
  }
}

.pagination__link {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 5px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: all .15s;

  &:hover {
    border-color: $color-green-50;
  }

  &.active {
    border-color: $color-green-50;
    cursor: default;
  }
}