$color-gray-10:    	    #e5e5e5;
$color-gray-20:    	    #bcbec1;
$color-gray-30:    	    #aaaaaa;
$color-gray-50:         #747880;
$color-gray-90: 		#252525;

$color-yellow-50:       #ffcd00;
$color-yellow-90:       #ffa500;

$color-blue-50:         #0076ff;

$font-color_dark:       #000000;
$font-color:            #242424;
$font-color_light:      #fefefe;

$font-family:			"Gilroy-Regular", "Arial", serif;
$font-family_light:		"Gilroy-Light", "Arial", serif;
$font-family_medium:	"Gilroy-Medium", "Arial", serif;
$font-family_bold:		"Gilroy-Bold", "Arial", serif;
$font-family_extrabold:	"Gilroy-ExtraBold", "Arial", serif;
$font-family_semibold:	"Gilroy-SemiBold", "Arial", serif;

$font_large:			18px;
$font_default:			13px;
$font_small:			12px;
$font_nano:             11px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;