.footer {
  position: relative;
  width: 100%;
  background-color: #fff;
  @extend .layout-padding;
}

.footer__inner {
  @extend .layout-inner;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer__start,
.footer__center,
.footer__end {
  width: 33%;
}

.footer__center {
  display: flex;
  justify-content: center;

  & .icon-scroll {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all .5s;
    opacity: 1;
    visibility: visible;
  }
}

.footer__email {
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  transform: translateY(100%);
}

.footer__end {
  display: flex;
  justify-content: flex-end;
}

.footer__development {

}

@media (min-width: 1280px) {

  .footer__inner {
    max-width: 1920px;
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1279px) {

  .footer__inner {
    min-width: 1280px;
    width: 1280px;
    max-width: 1280px;
  }
}



@media (max-width: 640px) {

  .footer__inner {
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    width: 100%;
    max-width: 640px;
    padding-top: 20px;
  }

  .footer__start,
  .footer__center,
  .footer__end {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .footer__center {

    & .icon-scroll {
      display: none;
    }

    & .footer__email {
      position: static;
      opacity: 1;
      visibility: visible;
      transform: translateY(0%) translateX(0%);
    }
  }

  .footer__end {
    justify-content: center;
  }
}