.layout-inner {
  width: 1220px;
  max-width: 1220px;
  min-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.layout-padding {
  padding-left: 30px;
  padding-right: 30px;
}


@media (min-width: 1280px) {

  /**
    * size on desktop
    */

  .layout-inner {
    width: 100%;
    max-width: 2480px;
    min-width: 1220px;
  }
}


@media (min-width: 641px) and (max-width: 1279px) {

  /**
    * size on tablet
    */

  .layout-inner {
    min-width: 1220px;
    width: 1220px;
    max-width: 1220px;
  }
}


@media (max-width: 640px) {

  /**
    * size on mobile
    */

  .layout-inner {
    width: 100%; /*fallback to old browsers*/
    //width: 100vw;
    min-width: 320px;
    max-width: 640px;
  }

  .layout-padding {
    padding-left: 0;
    padding-right: 0;
  }
}