
.preloader {
  display: block;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: linear-gradient(to right top, rgba(222,44,56,1) 0%, rgba(237,168,175,1) 100%);
  background: $color-red-50;
  overflow: hidden;
  transform: translate3d(0,0,0);

  background-image:
          linear-gradient(white,white),
          linear-gradient(white,white),
          linear-gradient(white,white),
          linear-gradient(white,white),
          linear-gradient(white,white),
          linear-gradient(white,white),
          linear-gradient(white,white);

  background-position:
          calc(50% - 30px) 50%,
          calc(50% - 20px) 50%,
          calc(50% - 10px) 50%,
          50% 50%,
          calc(50% + 10px) 50%,
          calc(50% + 20px) 50%,
          calc(50% + 30px) 50%;

  background-size:
          5px 10px,
          5px 10px,
          5px 10px,
          5px 10px,
          5px 10px,
          5px 10px,
          5px 10px;
  background-repeat: no-repeat;

  animation: l-bars 2s linear infinite alternate;

  &::-webkit-scrollbar {
    display: none;
  }
}


@keyframes l-bars {
  0% {
    background-size:
            5px 30px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px;
  }
  16.6% {
    background-size:
            5px 10px,
            5px 40px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px;
  }
  33.2% {
    background-size:
            5px 10px,
            5px 10px,
            5px 40px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px;
  }
  49.8% {
    background-size:
            5px 10px,
            5px 10px,
            5px 10px,
            5px 40px,
            5px 10px,
            5px 10px,
            5px 10px;
  }
  66.4% {
    background-size:
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 40px,
            5px 10px,
            5px 10px;
  }
  83% {
    background-size:
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 40px,
            5px 10px;
  }
  100% {
    background-size:
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 10px,
            5px 40px;
  }
}

@media (max-width: 1279px) {

  .preloader {
    display: none;
  }
}