//some styles

.logo {
  display: block;
  width: 173px;
  min-width: 173px;
  max-width: 173px;
  height: 47px;
}

.logo_color {
  background: url('../img/icons/logo_color.png') no-repeat center;
}