.form {}

.form-modal {

  & .form__input {
    border-color: $color-gray-30;
    color: $font-color;

    &::-webkit-input-placeholder {color: $color-gray-30; transition: color .3s;}
    &::-moz-placeholder          {color: $color-gray-30; transition: color .3s;}
    &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
    &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
  }

  & .form__textarea {
    border-color: $color-gray-30;
    color: $font-color;

    &::-webkit-input-placeholder {color: $color-gray-30; transition: color .3s;}
    &::-moz-placeholder          {color: $color-gray-30; transition: color .3s;}
    &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
    &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
  }
}

.form_contacts {
  max-width: 540px;
  width: 100%;
  min-width: 270px;
}

.form__input {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid $color-violet-30;
  background-color: transparent;
  font-size: $font_default;
  color: #fff;
  transition: all .15s;
  
  &:focus {
    outline: 0;
    border-color: $color-violet-10;
  }

  &[disabled] {
    background-color: $color-gray-10;
    cursor: default;
  }

  &:invalid {

  }

  &::-webkit-input-placeholder {color: $color-gray-20; transition: color .3s;}
  &::-moz-placeholder          {color: $color-gray-20; transition: color .3s;}
  &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
  &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
}


.form__textarea {
  display: inline-block;
  vertical-align: top;
  min-height: 120px;
  margin-bottom: 30px;
  border: 1px solid $color-violet-30;
  background-color: transparent;
  width: 100%;
  padding: 15px 15px;
  font-size: $font_default;
  color: $font-color;
  resize: none;

  &:focus {
    outline: 0;
    border-color: $color-violet-10;
  }

  &[disabled] {
    background-color: $color-gray-10;
    cursor: default;
  }

  &::-webkit-input-placeholder {color: $color-gray-20; transition: color .3s;}
  &::-moz-placeholder          {color: $color-gray-20; transition: color .3s;}
  &:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
  &:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
}
