.link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  transition: color, .2s;
  color: $font-color;

  &:hover {
    color: $color-blue-50;
  }

  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

.link_active {
  color: $color-blue-50;

  &:hover {
    color: $color-blue-70;
  }

  & .link_dotted {
    border-color: $color-blue-50;

    &:hover {
      color: $color-blue-70;
    }
  }
}

.link_light {
  color: $font-color_light;

  &:hover {
    color: $color-blue-50;
  }
}

.link_dark {
  color: $font-color_dark;

  &:hover {
    color: $color-blue-50;
  }
}

.link_blue {
  color: $color-blue-50;
  
  &:hover {
    color: $color-blue-70;
  }
}

.link_underlined {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.link_dotted {
  border-bottom: 1px dotted $font-color;
}

.link_tel {}