//some styles

.logo {
  display: block;
  width: 165px;
  min-width: 165px;
  max-width: 165px;
  height: 54px;
  background: url('../img/svg/logo.svg') no-repeat center;
  margin-right: 50px;
}