.ui-front {
  z-index: 100;
}

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(55, 57, 80, .9);
  z-index: 101;
}

.ui-dialog {
  display: none;
  position: absolute !important;
  top: 10% !important;
}

.ui-dialog-content {
  //margin-top: 20%;
  //margin-bottom: 20%;
}

.ui-dialog-titlebar {
  display: none !important;
}

.ui-widget.ui-widget-content {
  border: none !important;
}

.ui-effects-placeholder {
  display: none !important;
}

.ui-slider {

  & .ui-slider-range {
    z-index: 1;
  }

  & .ui-slider-handle {
    z-index: 2;
    touch-action: pan-x;
  }
}


@media (max-width: 640px) {

  .ui-dialog {
    top: 0 !important;
  }

  .ui-slider-handle {
    width: 16px;
    height: 16px;
  }
}