.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.tabs_small {

  & .tabs__caption {

    li {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.tabs_custom {

  & .tabs__title {
    width: 240px;
  }

  & .tabs__sidebar {
    max-width: 240px;
    min-width: 240px;
    padding-right: 20px;
  }
}

.tabs__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  margin-bottom: 40px;

  h1 {
    width: 300px;
  }
}

.tabs__title {
  margin-bottom: 0;
}

.tabs__caption {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    @extend .nowrap;
    margin-right: 25px;
    font-size: 30px;
    line-height: 36px;
    font-family: $font-family_light;
    cursor: pointer;
    transition: color .2s;
    border-bottom: 1px dashed $color-gray-70;
    
    &:hover {
      color: $color-blue-30;
      border-color: $color-blue-30;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  li.active {
    font-family: $font-family_bold;
    border-color: transparent;
  }
}

.tabs__caption_small {

  li {
    font-size: 12px;
    line-height: 16px;
  }
}

.tabs__links {
  width: 100%;
  margin-top: 15px;
}

.tabs__link {
  margin-right: 20px;
  @extend .link;
  @extend .link_colored;
}

.tabs__sidebar {
  min-width: 300px;
  max-width: 300px;
  width: 25%;
  padding-right: 80px;
  margin-bottom: 30px;

  & .form-search {
    max-width: 220px;
    margin-bottom: 20px;
  }
}

.tabs__content {
  flex-grow: 1;
  width: 60%;
  max-width: 1010px;

  & .brands {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  & .brands__item {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

.tabs__item {
  display: none;
  min-width: 80px;
  color: $color-gray-70;
  text-decoration: none;
  margin-bottom: 50px;

  &:last-child {
    border-right: none;
  }
}

.tabs__item.active {
  display: block; /* по умолчанию показываем нужный блок */
}

@media (max-width: 880px ) {
  .tabs__caption {

    li {
      font-size: 21px;
    }
  }
}

@media (max-width: 799px ) {

  .tabs {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .tabs_custom {

    & .tabs__sidebar {
      max-width: 100%;
    }
  }

  .tabs__sidebar {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .tabs__content {
    width: 100%;

    & .brands {
      justify-content: center;
    }
  }

  .tabs__header {
    flex-direction: column;
  }

  .tabs__title {
    margin-bottom: 10px;
  }

  .tabs__caption {

    li {
      font-size: 16px;
      line-height: 21px;
    }
  }

  .tabs__sidebar .form-search {
    max-width: 100%;
  }

  .tabs__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .tabs__link {
    margin-bottom: 8px;
  }
}

@media (max-width: 420px ) {

  .tabs__title {
    margin-bottom: 15px;
  }

  .tabs__caption {

    li {
      font-size: 12px;
      line-height: 16px;
    }
  }

}