@import url('https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700&subset=cyrillic');

*,
*::before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  background-color: #fff;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font: 300 16px/1.5 'Exo 2', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #3a3a3a;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: #a0a0a0;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 50px;
  color: #000;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 10px;
  color: #000;
}

*::selection {
  background-color: #e84848;
  color: #fff;
}

a {
  transition: color, .3s;
  color: #000;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(58, 58, 58, .3);
}

a:hover,
a:focus,
a:active {
  outline: 0;
  color: #e84848;
  text-decoration: none;
  border-color: #e84848;
}

p {
  max-width: 720px;
  margin: 0;
  margin-bottom: 20px;
}

.page {
  padding: 50px 20px;
}

.cv {
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.cv__item {
  margin-bottom: 50px;
}

.cv__project-desc {
  padding-top: 5px;
}

.cv__contact {
  margin-bottom: 5px;
}

.list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
}

.list li {
  position: relative;
  padding: 5px 0 5px 30px;
}

.list_dashed li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 52%;
  width: 20px;
  height: 1px;
  background: #e84848;
}

.list_counter {
  counter-reset: number;
}

.list_counter li {
  counter-increment: number;
}

.list_counter li::before {
  content: counter(number) ".";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  color: #e84848;
  font-weight: 600;
}

.list_counter li::before::selection {
  background-color: #e84848;
  color: #fff;
}

.list__link {
  margin-bottom: 5px;
}

.text-accent {
  color: #e84848;
}

.text-quote {
  position: relative;
  padding-left: 30px;
}

.text-quote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 14px;
  display: block;
  height: 100%;
  width: 2px;
  background-color: #e84848;
}