.layout-inner {
  width: 100%;
  min-width: 1220px;
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 641px) and (max-width: 1239px) {

  /**
    * size on tablet
    */

  .layout-inner {
    width: 1220px;
    //min-width: 1220px;
    //max-width: 1220px;
  }

}


@media (max-width: 640px) {

  /**
    * size on mobile
    */

  .layout-inner {
    min-width: 320px;
    width: 100%;
    max-width: 640px;
  }
}