@font-face {
  font-family: 'LetoSans';
  src: url('../fonts/LetoSans/LetoSans.eot');
  src: url('../fonts/LetoSans/LetoSans.woff') format('woff'),
  url('../fonts/LetoSans/LetoSans.ttf') format('truetype'),
  url('../fontsLetoSans/LetoSans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LetoSans-Bold';
  src: url('../fonts/LetoSans-Bold/LetoSans-Bold.eot');
  src: url('../fonts/LetoSans-Bold/LetoSans-Bold.woff') format('woff'),
  url('../fonts/LetoSans-Bold/LetoSans-Bold.ttf') format('truetype'),
  url('../fonts/LetoSans-Bold/LetoSans-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RoubleSans";
  src: url("../fonts/Rouble/RUBSN.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}