$color-black: 			#000000;
$color-white: 			#ffffff;

$color-gray-10:    	    #f5f7f9;
$color-gray-30:         #e5e5e5;
$color-gray-50:         #b2b2b2;
$color-gray-70:         #656f73;
$color-gray-90: 		#252525;

$color-red-30:          #e14d5f;
$color-red-50:          #da2037;
$color-red-70:          #ae1a2c;

$color-blue-10:         #b3cce1;
$color-blue-50:         #475661;
$color-blue-70:         #2e3f4c;
$color-blue-90:         #25323d;

$font-color_dark:       #000000;
$font-color:            #2e3f4c;
$font-color_light:      #ffffff;

$font-family:			"LetoSans", "Arial", serif;
$font-family_bold:		"LetoSans-Bold", "Arial", serif;
$font-family-rouble:	"RoubleSans", "Arial", serif;

$h1-size: 				38px;
$h2-size: 				24px;
$h3-size: 				18px;
$h4-size: 				14px;

$font_large:			18px;
$font_default:			16px;
$font_small:			14px;
$font_nano:             12px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;