/* font-family: "FuturaNewBook"; */
@font-face {
  font-family: 'FuturaNewBook';
  src: url("../fonts/FuturaNew/FuturaNewBook.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "FuturaNewBookOblique"; */
@font-face {
  font-family: 'FuturaNewBookOblique';
  src: url("../fonts/FuturaNew/FuturaNewBookOblique.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "FuturaNewDemi"; */
@font-face {
  font-family: 'FuturaNewDemi';
  src: url("../fonts/FuturaNew/FuturaNewDemi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "FuturaNewHeavy"; */
@font-face {
  font-family: 'FuturaNewHeavy';
  src: url("../fonts/FuturaNew/FuturaNewHeavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "FuturaNewLight"; */
@font-face {
  font-family: 'FuturaNewLight';
  src: url("../fonts/FuturaNew/FuturaNewLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "FuturaNewMedium"; */
@font-face {
  font-family: 'FuturaNewMedium';
  src: url("../fonts/FuturaNew/FuturaNewMedium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}