$color-black: 			#000000;
$color-white: 			#ffffff;

$color-gray-30:    	    #dcdcdc;
$color-gray-50:         #80868d;
$color-gray-70: 		#2a2a32;

//$color-red-30:		    #d4000d;
$color-red-50:          #de2c37;
$color-red-70:          #f1000e;

$color-blue-50:         #019ee0;
$color-blue-70:         #7688a1;
$color-blue-90:         #2c3641;

$color-cyan:            #00ffff;
$color-green:           #2bbd44;

$font-color:            $color-blue-90;
$font-color_dark:       #000000;
$font-color_light:      #ffffff;

$font-family:			    "FuturaNewMedium", "Arial", serif;
$font-family_book:		    "FuturaNewBook", "Arial", serif;
$font-family_book-oblique:  "FuturaNewBookOblique", "Arial", serif;
$font-family_demi:		    "FuturaNewDemi", "Arial", serif;
$font-family_heavy:	        "FuturaNewHeavy", "Arial", serif;
$font-family_light:	        "FuturaNewLight", "Arial", serif;

$font_large:			18px;
$font_default:			14px;
$font_small:			12px;
$font_nano:             11px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;