.page-post {

  & .page__inner {
    padding: 80px 0 100px;
  }

  & .link-anchor {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (max-width: 960px) {

  .page-post {

    & .page__inner {
      padding: 60px 0 0;
    }
  }
}


@media (max-width: 750px) {

  .page-post {

    & .header {
      border-bottom: none;
    }

    & .page__inner {
      padding: 0;
    }
  }
}