$color-black: 			#000000;
$color-white: 			#ffffff;

$color-gray-10:    	    #f5f7f9;
$color-gray-20:         #d5d5d5;
$color-gray-30:         #e5e5e5;
$color-gray-40:         #bfbfbf;
$color-gray-50:         #7b7f84;
$color-gray-60:         #47494c;
$color-gray-70:         #353639;
$color-gray-80: 		#414244;

$color-blue-10:		    #c9deea;
$color-blue-20:		    #54acc6;
$color-blue-30:		    #4b88b8;
$color-blue-50:         #1c75bc;
$color-blue-70:         #19649f;
$color-blue-90:         #1a3143;

$color-red-10:          #f9dfc4;
$color-red-50:          #ee5952;

$color-green-10:        #f2fff2;
$color-green-30:        #d2f6e3;
$color-green-50:        #46b077;
$color-green-70:        #28a765;

$color-violet-10:       #d8d9f2;
$color-violet-50:       #a577c4;

$color-yellow-30:       #fff1b2;

$font-color_light:      #d5d5d5;
$font-color:            #212121;
$font-color_dark:       #000000;


$font-family:   		"helveticaneuecyrroman", "Arial", serif;
$font-family_medium:	"helveticaneuecyrmedium", "Arial", serif;
$font-family_bold:		"opensansbold", "Arial", serif;


$h1-size: 				38px;
$h2-size: 				24px;
$h3-size: 				18px;
$h4-size: 				14px;

$font_large:			18px;
$font_default:			14px;
$font_small:			12px;
$font_nano:             11px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;
