$color-gray-10:         #f5f5f5;
$color-gray-20:         #e5e5e5;
$color-gray-30:         #a0a0a0;
$color-gray-50: 		#7d7d7d;
$color-gray-70:         #4c4c4c;
$color-gray-90: 		#1a1a1a;

$color-blue-10:		    #c2d0e0;
$color-blue-30:		    #4d90dc;
$color-blue-50:         #0358bb;

$color-pink:            #e71b5a;

$font-family:			"OpenSansRegular", "Arial", serif;
$font-family_light:		"OpenSansLight", "Arial", serif;
$font-family_bold:		"OpenSansBold", "Arial", serif;
$font-family_italic:	"OpenSansItalic", "Arial", serif;

$font_large:			16px;
$font_default:			14px;
$font_small:			12px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;