/* font-family: "AktivGroteskCorp-Regular"; */
@font-face {
  font-family: 'AktivGroteskCorp-Regular';
  //src: url('../fonts/AktivGroteskCorp/aktivgroteskcorp-regular-webfont.woff2') format('woff2'),
  //url('../fonts/AktivGroteskCorp/aktivgroteskcorp-regular-webfont.woff') format('woff');
  src: url("../fonts/AktivGroteskCorp/AktivGroteskCorp-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* font-family: "AktivGroteskCorp-Bold"; */
@font-face {
  font-family: 'AktivGroteskCorp-Bold';
  //src: url('../fonts/AktivGroteskCorp/aktivgroteskcorp-bold-webfont.woff2') format('woff2'),
  //url('../fonts/AktivGroteskCorp/aktivgroteskcorp-bold-webfont.woff') format('woff');
  src: url("../fonts/AktivGroteskCorp/AktivGroteskCorp-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* font-family: "AktivGroteskCorp-Medium"; */
@font-face {
  font-family: 'AktivGroteskCorp-Medium';
  //src: url('../fonts/AktivGroteskCorp/aktivgroteskcorp-medium-webfont.woff2') format('woff2'),
  //url('../fonts/AktivGroteskCorp/aktivgroteskcorp-medium-webfont.woff') format('woff');
  src: url("../fonts/AktivGroteskCorp/AktivGroteskCorp-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* font-family: "AktivGroteskCorp-Light"; */
@font-face {
  font-family: 'AktivGroteskCorp-Light';
  //src: url('../fonts/AktivGroteskCorp/aktivgroteskcorp-light-webfont.woff2') format('woff2'),
  //url('../fonts/AktivGroteskCorp/aktivgroteskcorp-light-webfont.woff') format('woff');
  src: url("../fonts/AktivGroteskCorp/AktivGroteskCorp-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


/* font-family: "PFAdamantPro-Regular"; */
@font-face {
  font-family: 'PFAdamantPro-Regular';
  //src: url('../fonts/PFAdamantPro/pfadamantpro-regular-webfont.woff2') format('woff2'),
  //url('../fonts/PFAdamantPro/pfadamantpro-regular-webfont.woff') format('woff');
  src: url("../fonts/PFAdamantPro/PFAdamantPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


/* font-family: "PFAdamantPro-Bold"; */
@font-face {
  font-family: 'PFAdamantPro-Bold';
  //src: url('../fonts/PFAdamantPro/pfadamantpro-bold-webfont.woff2') format('woff2'),
  //url('../fonts/PFAdamantPro/pfadamantpro-bold-webfont.woff') format('woff');
  src: url("../fonts/PFAdamantPro/PFAdamantPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


/* font-family: "PFAdamantPro-Medium"; */
@font-face {
  font-family: 'PFAdamantPro-Medium';
  //src: url('../fonts/PFAdamantPro/pfadamantpro-medium-webfont.woff2') format('woff2'),
  //url('../fonts/PFAdamantPro/pfadamantpro-medium-webfont.woff') format('woff');
  src: url("../fonts/PFAdamantPro/PFAdamantPro-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


/* font-family: "PFAdamantPro-SemiBold"; */
@font-face {
  font-family: 'PFAdamantPro-SemiBold';
  //src: url('../fonts/PFAdamantPro/pfadamantpro-semibold_0-webfont.woff2') format('woff2'),
  //url('../fonts/PFAdamantPro/pfadamantpro-semibold_0-webfont.woff') format('woff');
  src: url("../fonts/PFAdamantPro/PFAdamantPro-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


/* font-family: "PFAdamantPro-ExtraBold"; */
@font-face {
  font-family: 'PFAdamantPro-ExtraBold';
  //src: url('../fonts/PFAdamantPro/pfadamantpro-xbold-webfont.woff2') format('woff2'),
  //url('../fonts/PFAdamantPro/pfadamantpro-xbold-webfont.woff') format('woff');
  src: url("../fonts/PFAdamantPro/PFAdamantPro-ExtraBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}