$color-black: 			#000000;
$color-white: 			#ffffff;

$color-gray-10:    	    #f5f7f9;
$color-gray-20:    	    #d3d6de;
$color-gray-30:    	    #a5a5a7;
$color-gray-50:         #747880;
$color-gray-70:    	    #413f3f;
$color-gray-90: 		#2a2a32;

$color-blue-10:		    #dce1ee;
$color-blue-20:		    #8aa7c7;
$color-blue-30:		    #4b88b8;
$color-blue-50:         #0f4d99;
$color-blue-60:         #164993;
$color-blue-70:         #1a3143;

$color-gold:			#e9cc8f;
$color-gold-50:			#d5b674;

$color-green-50:		#39a570;

$color-violet-10:       #7a81b3;
$color-violet-30:       #565a7e;
$color-violet-50:       #333650;

$font-color:            #373950;
$font-color_dark:       #282828;
$font-color_light:      #e8e8e8;

$font-family:			"AktivGroteskCorp-Regular", "Arial", serif;
$font-family_light:		"AktivGroteskCorp-Light", "Arial", serif;
$font-family_bold:		"AktivGroteskCorp-Bold", "Arial", serif;
$font-family_medium:	"AktivGroteskCorp-Medium", "Arial", serif;

$font-family_1:           "PFAdamantPro-Regular", "Georgia", sans-serif;
$font-family_1_medium:    "PFAdamantPro-Medium", "Georgia", sans-serif;
$font-family_1_semibold:  "PFAdamantPro-SemiBold", "Georgia", sans-serif;
$font-family_1_extrabold: "PFAdamantPro-ExtraBold", "Georgia", sans-serif;

$h1-size: 				38px;
$h2-size: 				24px;
$h3-size: 				18px;
$h4-size: 				14px;

$font_large:			18px;
$font_default:			13px;
$font_small:			12px;
$font_nano:             11px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;