.brands {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin: 0 auto 50px;
  padding: 0;
  max-width: 1300px;
}

.brands__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  max-width: 240px;
  min-width: 240px;
  min-height: 280px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  background: $color-gray-10;
  transition: background .2s;

  &:hover {
    background: $color-gray-20;
  }
}

.brands__item_promo {
  overflow: hidden;

  &:after {
    display: block;
    content: 'Акция';
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px;
    background: $color-pink;
    color: #fff;
    width: 110px;
    height: 50px;
    transform: rotate(-45deg) translate(20%, 65%);
    text-align: center;
    text-transform: uppercase;
    transition: transform .2s;
  }

  &:hover:after {
    transform: rotate(-45deg) translate(20%, 60%);
  }
}

.brands__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.brands__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  background: #fff;
  margin-bottom: 15px;
}

.brands__text {
  margin-bottom: 15px;
  font-family: $font-family_italic;
  font-size: $font_small;
}

.brands__place {
  margin-top: auto;
  font-size: $font_small;
}

@media (max-width: 1360px ) {
  .brands {
    flex-wrap: wrap;
  }
}