.main-menu {
  display: flex;
  flex-direction: row;
}

.main-menu__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 138px;
  max-width: 350px;
  padding: 25px 25px 15px;
  text-decoration: none;

  &:last-child {
    border-right: none;
  }

  svg {
    max-height: 26px;
    max-width: 34px;
    height: auto;
  }
}

.main-menu__icon {
  max-width: 34px;
  max-height: 26px;
  height: auto;
}

.main-menu__title {
  text-transform: uppercase;
  font-family: $font-family_bold;
  font-size: 13px;
  line-height: 24px;
  height: 50px;
}

.main-menu__sign {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  min-height: 68px;
  border: none;
}

.main-menu__btn {
  height: 50%;
  padding: 25px;
  line-height: 21px;
}

.main-menu_about,
.main-menu_account {
  border-top: 1px solid $color-gray-20;
  border-left: 1px solid $color-gray-20;

  & .main-menu__item {
    background-color: #fff;
    border-right: 1px solid $color-gray-20;
    border-bottom: 1px solid $color-gray-20;
    color: $font-color;

    &:hover {
      background-color: $color-gray-10;
    }
  }
}

.main-menu_branch {
  border-top: 1px solid $color-gray-60;
  border-left: 1px solid $color-gray-60;

  & .main-menu__item {
    position: relative;
    background-color: $color-gray-50;
    border-right: 1px solid $color-gray-70;
    border-bottom: 1px solid $color-gray-70;
    color: #fff;

    &:hover {
      background-color: darken($color-gray-50, 6%);
    }

    &:before {
      position: absolute;
      top: -600px;
      left: -1px;
      content: '';
      height: 1000px;
      width: 1px;
      background-color: $color-gray-60;
    }

    &:last-child:after {
      position: absolute;
      top: -600px;
      right: -1px;
      content: '';
      height: 1000px;
      width: 1px;
      background-color: $color-gray-60;
    }
  }
}


@media (max-width: 640px) {

  .main-menu {
    flex-wrap: wrap;
  }

  .main-menu__title {
    font-size: 10px;
    line-height: 18px;
  }

  .main-menu__item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-menu__sign {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 68px;

    & .main-menu__btn {
      width: 50%;
      height: 100%;
    }
  }
}