.contacts-map-wrapper {
  position: relative;
  min-height: 460px;
}

.contacts-map {
  height: 460px;
}

.contacts__desc {
  position: absolute;
  top: 50%;
  right: 130px;
  transform: translateY(-50%);
  width: 100%;
  padding: 30px 40px;
  max-width: 350px;
  min-width: 280px;
  background-color: #fff;
  border: 1px solid $color-gray-30;
}

.contacts-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts-heads {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 750px;
  border-top: 1px solid $color-gray-30;
}

.contacts-head {
  display: flex;
  flex-direction: row;
  border: 1px solid $color-gray-30;
  border-top: none;
  background-color: #fff;
}

.contacts-head__img {
  padding: 40px;
  overflow: hidden;

  img {
    display: block;
    border-radius: 50%;
    width: 130px;
    height: 130px;
  }
}

.contacts-head__content {
  padding: 40px;
  padding-left: 0;

  h4 {
    margin-bottom: 0;
  }
}

.contacts-feedback {
  width: 30%;
  max-width: 350px;
  min-width: 280px;
  margin-left: 30px;
  padding: 40px 30px;
  border: 1px solid $color-gray-30;
  background-color: #fff;
}


@media (max-width: 640px) {

  .contacts__desc {
    position: relative;
    top: initial;
    right: initial;
    transform: none;
    width: 100%;
    padding: 30px 40px;
    max-width: 640px;
    min-width: 280px;
  }

  .contacts-info {
    flex-direction: column;
  }

  .contacts-heads {
    width: 100%;
    margin-bottom: 40px;
  }

  .contacts-head__img {
    padding: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .contacts-head__content {
    padding: 20px;
    padding-left: 0;
  }

  .contacts-feedback {
    width: 100%;
    max-width: 640px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: 0;
  }
}


@media (max-width: 480px) {

  .contacts-head__img {
    padding: 15px;

    img {
      max-width: 80px;
    }
  }

  .contacts-head__content {
    padding: 15px;
    padding-left: 0;
  }
}