/* font-family: "neosans-light"; */
@font-face {
  font-family: 'neosans-light';
  src: url('../fonts/neosans-light/NeoSansPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* font-family: "neosans-light-italic"; */
@font-face {
  font-family: 'neosans-light-italic';
  src: url('../fonts/neosans-light-italic/NeoSansPro-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* font-family: "neosans-bold"; */
@font-face {
  font-family: 'neosans-bold';
  src: url('../fonts/neosans-bold/NeoSansPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
