$color-black: 			#000000;
$color-white: 			#ffffff;

$color-gray-10:    	    #e5e5e5;
$color-gray-30:         #bbbbbb;
$color-gray-50:         #909090;
$color-gray-90:         #231f20;

$color-red-50:          #e31d1a;

$font-color:            #5a5a5a;
$font-color_light:      #999999;

$font-family:		    "neosans-light", "Arial", serif;
$font-family_italic:    "neosans-light-italic", "Arial", serif;
$font-family_bold:		"neosans-bold", "Arial", serif;

$font_large:			18px;
$font_default:			16px;
$font_small:			14px;
$font_nano:             12px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;

$header-height: 150px;