$color-gray-10:         #f5f5f5;
$color-gray-30:         #dcdcdc;
$color-gray-50:         #9b9b9b;
$color-gray-60:         #39383f;
$color-gray-70: 		#232323;
$color-gray-90: 		#1a1a1a;

$color-red-30:		    #ff3000;
$color-red-50:          #ed2324;
$color-red-70:          #d52324;

$color-blue-50:          #4a90e2;

$font-family:			"PTSansRegular", "Arial", serif;
$font-family_bold:		"PTSansBold", "Arial", serif;

$font_large:			18px;
$font_default:			16px;
$font_small:			14px;

$font_bold: 			700;
$font_normal: 			400;
$font_light:			300;